@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dane personalne";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Możesz pobrać dane o swoim koncie</p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Pobierz</button>
        </form>
        <p>Naćśnięcie tego przycisku spowoduje usunięcie konta</p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
