<div class="justify-content-center text-center">
    <h1>Książka jest już wypożyczona</h1>
    <br />
    <form action="@Url.Action("Index", "Books")" method="get">
        <input type="submit" value="Powrót" class="btn btn-primary" />
    </form>
</div>