@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witam w aplikacji domowa biblioteka</h1><br />
    <img src="~/Pictures/home.jpg" class="img-fluid rounded" alt="Responsive image">
</div>
