@{
    ViewData["Title"] = "Autor";
}

<div class="text-center">
    <h1>Autor aplikacji</h1><br />
    <h1 class="display-4">Wojciech Jankowski</h1><br />
    <h2>CEO MATE GRAPHICS</h2>
    <img src="~/Pictures/logo.jpg" class="img-fluid" alt="Responsive image">
</div>

